/*MIXINS*/
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transform-translate($trans) {
  -ms-transform: translatex($trans);
  -webkit-transform: translatex($trans);
  transform: translatex($trans);
}
/*VARIABLES*/
$color-green: #afff71;
$color-grey: #F4F5F6;
$color-darkgrey: #999999;
