@import "mixins-variables";
.button_curvy-v-lightgreen1 {
  @include border-radius(20px);
  padding: 10px;
  height: auto;
  border: 0;
  background-color: $color-green;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.button_back-black {
  @include border-radius(20px);
  background-color: black;
  color: white;
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 6px;
  border: 2px solid lightgrey;
  cursor: pointer;
  height: auto;
}
@media all and (max-width: 500px) {
  .button_back-black {
    font-size: 12px;
    padding: 8px;
    top: 10px;
  }
}
//
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
}
