/*MIXINS*/
/*VARIABLES*/
.F_nav {
  background-color: black;
  text-align: center;
  width: 100%; }

.F_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../img/main-background.jpg");
  background-size: contain;
  height: calc(100vh - 54px); }

.header_dial-cont_dial {
  width: 30vw;
  padding: 0 30px 0 0; }

.header_slogan-cont {
  text-align: center; }

.header_slogan-cont_slogan {
  width: 35vw;
  height: auto;
  padding: 0 0 0 30px;
  display: block; }

.header_slogan-cont_contact {
  -ms-transform: translatex(15px);
  -webkit-transform: translatex(15px);
  transform: translatex(15px);
  margin: 30px 0 0 0; }

.lightning-cont {
  position: absolute;
  top: 54px;
  left: 50vw;
  -ms-transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%); }

.lightning-cont_lightning {
  height: 90vh; }

@media all and (max-width: 1080px) {
  .F_header {
    flex-direction: column;
    background-size: cover; }

  .header_dial-cont_dial {
    width: 330px; }

  .header_slogan-cont_slogan {
    width: 330px; }

  .header_dial-cont_dial {
    padding: 0; }

  .header_slogan-cont_slogan {
    padding: 20px 0 0 0; } }
@media all and (max-width: 420px) {
  .header_dial-cont_dial {
    width: 250px; }

  .header_slogan-cont_slogan {
    width: 250px; } }
.F_features {
  padding: 70px 0; }

.features_title {
  padding: 0 0 70px 0; }

.features_items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around; }

.features_items_cont {
  text-align: center;
  margin: 0 20px; }

.features_items_cont_title {
  padding: 0 0 30px 0;
  font-size: 20px; }

.features_items_cont_title_img {
  padding: 0 0 30px 0;
  height: 15vw; }

.features_items_cont_abstract {
  padding: 0 0 30px 0;
  height: 140px;
  text-align: left;
  line-height: 26px; }

.features_items_cont_a {
  padding: 10px; }

@media all and (max-width: 1101px) {
  .features_items {
    flex-wrap: wrap; }

  .features_items_cont {
    width: 40%; }

  .features_items_cont_title_img {
    height: 20vw; }

  .features_items_cont:nth-child(3),
  .features_items_cont:nth-child(4) {
    margin: 50px 20px 0 20px;
    padding: 50px 0 0 0;
    border-top: 1px solid lightgrey; } }
@media all and (max-width: 650px) {
  .features_items_cont {
    width: 50%; }

  .features_items_cont_title_img {
    height: 30vw; }

  .features_items_cont:nth-child(2),
  .features_items_cont:nth-child(3),
  .features_items_cont:nth-child(4) {
    border-top: 1px solid lightgrey;
    margin: 50px 20px 0 20px;
    padding: 50px 0 0 0; } }
@media all and (max-width: 420px) {
  .features_items_cont {
    width: 80%; }

  .features_items_cont_title_img {
    height: 50vw; } }
.F_work {
  padding: 70px 10px;
  background-image: url(../../../img/sound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F4F5F6; }

.work_title {
  padding: 0 0 70px 0;
  position: relative; }

.work_list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.work_list_track {
  width: 50%;
  padding: 0 3vw; }

.work_list_track:nth-child(1),
.work_list_track:nth-child(2) {
  padding-bottom: 70px; }

.work_list_track:last-child {
  border-right: 0; }

.work_list_track_title {
  text-align: left;
  text-transform: capitalize;
  padding: 0 0 20px 0; }

.work_list_track_title_p {
  padding: 0 0 5px; }

.work_list_track_title_p_span {
  color: grey; }

.work_list_track_embed {
  width: 100%;
  height: 115px;
  border: 0; }

.work_soundcloud {
  text-align: center;
  padding: 100px 0 0 0; }

.work_soundcloud_p {
  padding: 0 3vw 10px 3vw; }

@media all and (max-width: 470px) {
  .work_list_track {
    width: 100%; }

  .work_list_track:nth-child(1),
  .work_list_track:nth-child(2),
  .work_list_track:nth-child(3) {
    padding-bottom: 30px; } }
.F_profile {
  padding: 70px 0;
  background-image: url(../../../img/guitar.png);
  background-position: center;
  background-repeat: no-repeat; }

.profile_title {
  padding: 0 0 70px; }

.profile_presentation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.profile_presentation_pic-cont {
  margin: 0 60px 0 40px;
  text-align: center; }

.profile_presentation_pic-cont_pic {
  margin: 0 0 15px 0; }

.profile_presentation_pic-cont_text1 {
  text-align: center;
  font-weight: bold; }

.profile_presentation_pic-cont_text2 {
  text-align: center; }

.profile_presentation_text {
  line-height: 26px;
  margin: 0 40px 0 0; }

.profile_presentation_text_contact {
  color: #afff71;
  text-decoration: underline; }

.profile_presentation_pic-cont_quote {
  color: #999999;
  line-height: 25px;
  padding: 30px 0 0 0;
  font-family: 'Homemade Apple', cursive; }

.profile_presentation_pic-cont_quote_name {
  text-align: right; }

@media all and (max-width: 900px) {
  .profile_presentation {
    flex-direction: column;
    flex-wrap: wrap-reverse; }

  .profile_presentation_pic-cont {
    text-align: center;
    margin: 0; }

  .profile_presentation_text {
    border-top: 1px solid lightgrey;
    line-height: 26px;
    margin: 70px 40px 0 40px;
    padding: 70px 0 0 0; }

  .profile_presentation_pic-cont_quote {
    padding: 70px 0 0 0;
    margin: 0 10vw;
    text-align: left; }

  .profile_presentation_pic-cont_quote_name {
    text-align: right;
    padding: 0 10vw 0 0; } }
.F_data {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #F4F5F6; }

.data_main-title {
  padding: 0 0 70px 0; }

.data_frame {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start; }

.data_frame_cont {
  width: 40%;
  margin: 0 60px 0 0;
  color: grey; }

.data_frame_map {
  padding: 0 0 0 60px;
  border-left: 1px solid grey; }

.data_frame_map_embed {
  width: 400px;
  height: 300px;
  display: block; }

.data_frame_cont_title {
  padding: 0 0 30px 0;
  color: black; }

.data_frame_cont_cel {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0; }

.data_frame_cont_email {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0; }

.data_frame_cont_address {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0; }

.data_frame_cont_social-media {
  text-align: center; }

.data_frame_cont_social-media_2 {
  margin: 0 0 0 5px; }

.data_frame_cont_social-media_1 {
  margin: 0 5px 0 0; }

@media all and (max-width: 900px) {
  .data_frame {
    flex-direction: column;
    align-items: center; }

  .data_frame_map {
    padding: 0;
    border: 0;
    padding: 50px 0 0 0;
    margin: 50px 0 0 0;
    border-top: 1px solid lightgrey; }

  .data_frame_cont {
    margin: 0;
    width: 100%; } }
@media all and (max-width: 420px) {
  .data_frame_map_embed {
    width: 300px;
    height: 500px;
    display: block; } }
.F_footer {
  background-color: black;
  text-align: center;
  padding: 15px 0 25px 0;
  width: 100%; }

.footer_text {
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  padding: 0 20px; }

/*# sourceMappingURL=landing.css.map */
