.F_nav {
  background-color: black;
  justify-content: space-between;
  width: 100%;
  position: relative;
  text-align: center; }

.F_text-services {
  padding: 20px 3vw 60px 3vw;
  line-height: 24px;
  min-height: calc(100vh - 184px); }

.text-services_item_heading {
  padding: 20px 0 40px;
  text-align: left; }

@media all and (max-width: 500px) {
  .F_text-services {
    padding: 20px 8vw 60px 8vw; } }
.F_footer {
  background-color: black;
  text-align: center;
  padding: 15px 0 25px 0;
  width: 100%; }

.footer_text {
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  padding: 0 20px; }

/*# sourceMappingURL=servicios.css.map */
